# Dependencies
node_modules/

# Production build
dist/
dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment & local files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary archives & scrape caches
*.zip
*.7z
extracted_yt_videos.json
yt_data.json
yt_videos.json

# Vercel
.vercel
